	.mainbody
	{
		background-color: #333333;
		margin: 0px;
	}
	.inner
	{
		background: linear-gradient(120deg, #6A60A7, #A091EC);
		height: 90%;
		width: 100%;
		float: left;
		margin-top: 20px;
		
	}
	#logo
	{
		margin-left: 50px;
		direction: block;
		height: 5px;
		margin-top: 20px;
		font-size: 20px;

	}
	#wctext
	{
		margin-left: 63px;
		font-family: arial;
		font-size: 30px;
		color: white;
		font: bold;
	}
	#wctext1
	{
		margin-left: 63px;
		font-family: arial;
		font-size: 30px;
		color: white;
		font: bold;
		text-shadow: 2px 2px #504683;

	}
	#sub
	{
		height: 50px;
		width: 27%;
		margin-left: 210px;
		background-color: FFCC00;
		border: solid 5px #504683;
		border-radius: 5px;
		
		


	}
	.sub
	{
		height: 36px;
		width: 27%;
		margin-left: 216px;
		background-color: FFCC00;
		
		border-radius: 5px;
		margin-top: 20px;
		font-family: cambria;
		font-size: 28px;
		vertical-align: middle;
		font: bold;
		text-align: center;
		padding: 5px;



	}
	
	#middleimage
	{
		height: 31%;
		width: 24%;
		background-color: #6D61A9;
		margin-top: 82px;
		margin-left: 63px;
		float: left;
		text-align: center;
		vertical-align: middle;
		color: white;
		font-family: arial;
		font-size: 20px;
		padding: 20px;
		text-shadow: 2px 2px #504683;
		
	}
	img
	{
		margin-top: 45px;

	}
	.bottom
	{
		height: 43px;
		width: 100%;
		background-color: #504683;
		float: left;
		margin-top: 92px;
	}
	.bottom a{
		text-decoration: none;
		color: #746AA9	;
	}
	.bottomtext
	{
		font-size:10;
		color:#746AA9;
		margin-left:80px;

	}
	.bottom p
	{
		margin-left: 40px;
		margin-top: -9px;
		vertical-align: middle;
	}
	.noscriptmsg
	{
		text-align: center;
		color: white;

	}