     .bb
             {
             	background-color: black;

             }
     .logo
             {
             	background-color: yellow;
             	height: 3px;
             	width: 3px;
             	border-radius: 2px;
             	float: left;
             }
     .outer

	{
		background-color: #333333;
		margin: 0px;
		}

	.inner
	{
	 background: linear-gradient(to bottom right, #7340F2, white);
	 height: 90%;
	 width: 100%;
	 float: left;

	 
	 margin-top: 20px;
	 margin-bottom: 5px;
	 
	}
	#pp
	{
		text-align: center;;
		font-family: arial;
		font-size: 25px;
		color: white;
		font: bold;;
	}
	input
	{
		height: 40px;
		width: 26%;
		margin-top: 10px;
		margin-left: 37%;
		border: solid 0px #7340F2;
		 box-shadow: 0 0px 3px 3px #7340F2;
		 padding: 6px;
		 font-family: cambria;
		 font-size: 14px;
		 font: bold;
	}
	
	.in
	{
		height: 40px;
		width: 12%;


	}
	.in1
	{
		height: 40px;
		width: 12%;
		margin-left: 20px;
	}
	.cb
	{
		
		margin-left: 4px;
	}
	#p1
	{
		color: #7340F2;
		font-size: 10px;

		
	}
	.inm
	{
		height: 80px;
		width: 26%;
		background-color: #7340F2;
		margin-left: 37%;
		margin-top: 20px;
		text-align: center;
	}
	#sub
	{
		height: 40px;
		width: 94%;
		background-color: FFCC00;
		margin-left: 10px;
		margin-top: 10px;
		
		border-radius: 7px;
		font-family:'Helvetica Neue',sans-serif;
		font: bold;


	}
	.bottom
	{
		height: 87px;
	    width: 100%;
	    background-color: #7340F2;

	   
	      

	}
	.bottom p
	{
		margin-left: 40px;
	}
	a{
		text-decoration: none;
		
	}
	.inm a
	{
		color: white;
	}
	.bottom a
	{
		color: #828CE3;
	}
	#p2
	{
		margin-left: 50px;
		direction: block;
		height: 5px;
		margin-top: 20px;
		font-size: 20px;

	}
	.error
	{
		box-shadow: 0 0px 4px 4px red;
	}